{% extends "base.html" %}

{% block content %}

	<div class="w3-row">
   		<div class="w3-col l8 s12 w3-padding">
   			<div class="w3-white">
   				<img src="../../images/index/entrepreneur-1340649_1280_350.jpg" class="image-responsive image-center">
				<div class="w3-container w3-padding">
					Sign up in just seconds. Take a quick survey about your internet, cable tv and/or phone bill. No personal information whatsoever is collected, just an email address, and we do not sell this information. Then you will have access to search what others in your zip code, city and state are paying for similar services. You are then armed with information for negotiating a lower cable bill.
					
					<hr>
					
					<p class="w3-center">
						{% include "includes/components/try_app_button.html" %}
					</p>
				</div>
			</div>
			
			{%- for article in articles %}
				<div class="w3-margin-top">
					{% include "includes/article_summary.html" %}
				</div>
			{%- endfor %}
		</div>
		
		<div class="w3-col l4 w3-padding">
			{% include "includes/about_summary.html" %}
			
			<div class="w3-margin-top">
				{% include "includes/follow_me.html" %}
			</div>
		</div>
	</div>

{% endblock %}