<p class="w3-center">
	{% include "includes/components/try_app_button.html" %}
</p>

<hr>

<div class="w3-row">
	<div class="w3-col">
		<p class="w3-left">
			{% include "includes/article_meta_tags.html" %}
		</p>
	</div>
</div>
<!--<div class="w3-row">
	<div class=w3-hide-small>
		<p class="w3-left">
			{% include "includes/article_meta_category.html" %}
		</p>
		<p class="w3-right">
			{% include "includes/article_meta_tags.html" %}
		</p>
	</div>
	<div class="w3-hide-large w3-hide-medium">
		<p class="w3-margin-bottom">
			{% include "includes/article_meta_category.html" %}
		</p>
		<p class="w3-margin-bottom">
			{% include "includes/article_meta_tags.html" %}
		</p>
	</div>
</div>-->