{% block head %}
	<header class="w3-center w3-padding-24 w3-white page-header-jumbotron w3-border-bottom w3-border-orange">
		<div class="w3-container">
			<img src="../../images/page-header-logo.png" class="image-responsive image-center">
			<div class=w3-hide-small>
				<h4>
					<span class="w3-text-orange">{{ SITE_DESCRIPTION }}</span>
				</h4>
			</div>
			<div class="w3-hide-large w3-hide-medium">
				<h6>
					<span class="w3-text-orange">{{ SITE_DESCRIPTION }}</span>
				</h6>
			</div>
			
			<p class="w3-center">
				{% include "includes/components/try_app_button.html" %}
			</p>
		</div>
	</header>
{% endblock %}